.header {
  position: relative;
  clear: left;
  box-shadow: 0 0.1px 5px 0px gray;
  height: 5rem;
}

.header h1, .menuIcon {
  display: inline-block;
  margin: 1rem 0;
}

.header h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #08A6E4;
  line-height: 37px;
  font-size: 37px;
  width: 206px;
  height: 37px;
  text-align: left;
}

.menuIcon {
  margin-left: 7rem;
  padding-top: 1rem;
  margin-bottom: 0;
  width: 1.5rem;
  height: 2rem;
}

.main {
  text-align: center;
  margin-top: 5rem;
  background-color: #F7F7F7;
}

.sellMore {
  width: 310px;
  height: 213px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.sellMore h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sellMore p {
  font-family: "Open Sans";
  font-weight: 400;
  size: 2rem;
  height: 57px;
  margin: 1rem 2rem;
}

.btn {
  border-radius: 75px;
  display: inline-block;
  text-align: center;
  line-height: 3.5rem;
}

.btnBig {
  width: 310px;
  height: 57px;
}

.btnBig:hover {
  background-color: #07688f;
}

.btn a {
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
}

.laptopImage {
  background-image: url("../images/Background.png");
  height: 300px;
  width: 779px;
  position: relative;
  left: -165px;
}

bg-white {
  background-color: white;
}

.mostPopular h3 {
  font-family: "Raleway";
  font-weight: 300px;
  font-size: 2.5rem;
}

.cardData {
  text-align: center;
  margin: 2rem;
}

.cardData h4 {
  font-family: "Raleway";
  font-weight: bolder;
  letter-spacing: 0.25rem;
  margin-bottom: 1.5rem;
}

.cardData p {
  font-family: "Raleway";
  color: #A5A5A5;
}

.circle {
  display: inline-block;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.icon {
  height: 2.5rem;
  width: 2.3rem;
  position: relative;
  left: 1rem;
  top: 0.2rem;
}

.iconLong {
  height: 1.5rem;
  width: 3rem;
  position: relative;
  left: 1rem;
  top: 0.65rem;
}

.red {
  background-color: #FB3B64;
}

.blue {
  background-color: #08A6E4;
}

.green {
  background-color: #55DFB4;
}

.benefits {
  width: 10rem;
  text-align: center;
  display: inline-block;
  width: 90%;
}

.benefitBox, .benefitBoxExtended {
  background-color: white;
  margin: 1rem;
}

.benefitBox h3 {
  font-family: "Raleway";
  font-weight: 400px;
  font-size: 1.8rem;
  text-align: left;
  margin-left: 1rem;
}

.benefitBox p {
  font-family: "Raleway";
  font-weight: 400px;
  font-size: 0.6rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.macbook {
  position: relative;
  rotate: -45deg;
  left: -37px;
  top: 30px;
  width: 7rem;
}

.circleSquare {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 30px;
  rotate: 45deg;
  border-radius: 40%;
  width: 3rem;
  height: 3rem;
  margin: 2rem;
}

.iPhone {
  width: 7rem;
}

.circleBig {
  display: inline-block;
  border-radius: 100%;
  width: 5.5rem;
  height: 5rem;
  margin: 1rem;
}

.green img {
  position: relative;
  left: -20px;
  top: 20px;
}

.benefitBoxExtended h3 {
  font-family: "Raleway";
  font-weight: 400px;
  font-size: 1.8rem;
  text-align: left;
  margin-left: 1rem;
}

.benefitBoxExtended p {
  font-family: "Raleway";
  font-weight: 400px;
  font-size: 0.8rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  line-height: 150%;
}

.cards h3 {
  font-family: "Raleway";
  font-size: 2rem;
}

.priceBox {
  display: inline-block;
  text-align: center;
  margin: 4rem 2rem;
  border-style: solid;
  border-radius: 10%;
  width: 19rem;
  height: 15rem;
  border-width: 1px;
}

.redBorder {
  border-color: #EB476E;
}

.blueBorder {
  border-color: #07ACE6;
}

.greenBorder {
  border-color: #55DFB4;
}

.columnsContainer {
  display: inline-block;
  height: 100%;
  min-height: 15rem;
}

.cardColumn {
  width: 49%;
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 0rem;
}

.btnSmall {
  width: 10rem;
  height: 3rem;
}

.btnSmall:hover.red:hover {
  background-color: #7e263a;
}

.btnSmall:hover.blue:hover {
  background-color: #07688f;
}

.btnSmall:hover.green:hover {
  background-color: #215544;
}

.priceBox .btn {
  position: relative;
  top: 2rem;
}

.cardColumn h4 {
  font-family: "Raleway";
  position: relative;
  top: 0rem;
}

.cardColumn h3 {
  font-family: "Open Sans";
  position: relative;
  top: 0rem;
}

.cardColumn p {
  position: relative;
}

.redText {
  color: #FB3B64;
}

.blueText {
  color: #07ACE6;
}

.greenText {
  color: #55DFB4;
}

.whiteText {
  color: white;
  font-family: "Open Sans";
}

.featureRow {
  width: 100%;
  margin: 1rem 1rem 1rem 0;
  text-align: left;
}

.featureRow input {
  display: inline-block;
  margin-right: 10px;
}

.featureRow p {
  display: inline-block;
}

.faq {
  background-color: white;
}

.faqContent {
  margin-bottom: 3rem;
  align-content: center;
  margin-left: 2.5rem;
}

.faqContent h2, .faqContent p {
  text-align: left;
}

.faqContent h2 {
  font-family: "Raleway";
  font-size: 2.5rem;
}

.faqContent p {
  font-family: "Open Sans";
  font-size: 1rem;
}

.faqRow {
  text-align: left;
  margin-bottom: 0.5rem;
}

.faqRow img {
  display: inline-block;
  width: 1.6rem;
  margin-right: 1rem;
}

.faqRow p {
  display: inline-block;
  text-align: left;
  font-family: "Opens Sans";
  color: #A5A5A5;
}

.faqForm {
  display: inline-block;
  text-align: left;
}

.faqForm label {
  font-family: "Open Sans";
  color: #08A6E4;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
}

.faqForm input {
  background-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 2rem;
}

.faqForm label, .faqForm input {
  display: inline-block;
  width: 80%;
  margin: 1rem 0;
}

.consentBox {
  text-align: left;
  margin-right: 1rem;
}

.consentBox input, .consentText {
  display: inline-block;
  vertical-align: top;
}

.consentBox input {
  width: auto;
  margin-top: 0;
}

.consentText {
  font-size: 0.25rem;
  color: #707070;
  width: 23rem;
  margin-top: 0.3rem;
}

input[type=submit] {
  cursor: pointer;
  background: #08A6E4;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1rem;
  width: 17.5rem;
  height: 4rem;
  border-radius: 75px;
  display: inline-block;
  align-self: right;
  margin-top: 2rem;
  margin-left: 7rem;
}

.footer {
  box-shadow: 0 0.1px 40px 0px rgb(184, 184, 184);
  padding: 2rem 2rem;
}

.ownership, .socials {
  display: inline-block;
}

.ownership h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #08A6E4;
  line-height: 37px;
  font-size: 37px;
  width: 206px;
  height: 37px;
  text-align: left;
}

.copyright {
  font-family: "Open Sans";
  color: #A5A5A5;
}

.socials {
  position: relative;
  top: -1rem;
}

.socials img {
  margin-left: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=style.css.map */
