@import 'mixins';
.footer {
    box-shadow: 0 0.1px 40px 0px rgb(184, 184, 184);
    padding: 2rem 2rem;
    background-color: #F7F7F7;
}

.ownership, .socials {
    display: inline-block;
}

.ownership h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #08A6E4;
    line-height:37px;
    font-size: 37px;
    width: 206px;
    height: 37px;
    text-align: left;
}

.copyright {
    font-family: $font-open-sans;
    color: #A5A5A5;
}

.socials {
    position:relative;
    top: -1rem;
}


.socials img {
    margin-left: 1rem;
}

@media  screen and (min-width: 1200px){
    .footer {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem 0;
        position: relative;
        z-index: 10;
        margin-top:4rem;
    }
    .ownership h1 {
        margin-bottom: 1rem;
    }
    .socials {
        margin-top: 3rem;
        position: relative;
        left: 12rem;
    }
}
