.main {
    text-align:center;
    margin-top: 5rem;
    background-color: #F7F7F7;
}



@media screen and (min-width: 1200px){
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}