$blue: #08A6E4;
$red: #FB3B64;
$green: #55DFB4;

$font-raleway: 'Raleway';
$font-open-sans: 'Open Sans';

$big-laptop: url("../images/Background.png");
$small-laptop: url("../images/BackgroundSmall.png");

@mixin price-box {
    margin: 2rem 2rem;
    display: inline-block;
  }

@mixin blue-btn {
  cursor: pointer;
  background-color: $blue;
  border-radius: 75px;
  color: white;
  font-family: $font-open-sans;
  font-weight: bold;

}

@mixin circle--blue {
  background-color: $blue;
  display: inline-block;
  border-radius: 100%;
  
  margin: 1rem;
}

  

