.sellMore {
    width: 310px;
    height: 213px;
    margin-right: auto;
    margin-left:auto;
    background-color: white;
}

.sellMore h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sellMore p {
    font-family: "Open Sans";
    font-weight: 400;
    size: 2rem;
    height: 57px;
    margin: 1rem 2rem;
}

.btn {
    
    border-radius: 75px;
    display: inline-block;
    text-align: center;
    line-height: 3.5rem;


}

.btnBig {
    width: 310px;
    height: 57px;
}

.btnBig:hover {
    background-color: #07688f;
}

.btn a {
    color: white;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: bold;

    
}

@media  screen and (min-width: 1200px){
    .sellMore {
        width: 100%;
    }
}

 