.mostPopular {
    
}

bg-white {
    background-color: white;
}

.mostPopular h3 {
    font-family: 'Raleway';
    font-weight: 300px;
    font-size: 2.5rem;
}

.cardData {
    text-align: center;
    margin: 2rem;
}

.cardData h4 {
    font-family: "Raleway";
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin-bottom: 1.5rem;

}

.cardData p {
    font-family: "Raleway";
    color: #A5A5A5;
    
}

.circle {
    display: inline-block;
    border-radius: 100%;
    width: 3rem;
    height:3rem;
    margin: 1rem;
}

.icon {
    height: 2.5rem;
    width: 2.3rem;
    position: relative;
    left: 1rem;
    top: 0.2rem;
}

.iconLong {
    height: 1.5rem;
    width: 3rem;
    position: relative;
    left: 1rem;
    top: 0.65rem;
}

.red {
    background-color: #FB3B64;
}
.blue {
    background-color: #08A6E4;
}
.green{
    background-color: #55DFB4;
}

@media  screen and (min-width: 1200px){
    .mostPopular {
        background-color: white;
        width: 100%;
        padding-bottom: 5rem;
    }
    .dataBox {
        display: flex;
        justify-content: space-evenly;
    }

    .circle {
        display: inline-block;
        border-radius: 100%;
        width: 6rem;
        height:6rem;
        margin: 1rem;
    }

    .icon {
        height: 5rem;
        width: 4.6rem;
        position: relative;
        left: 2rem;
        top: 0.2rem;
    }
    
    .iconLong {
        height: 3rem;
        width: 6rem;
        position: relative;
        left: 2rem;
        top: 1.3rem;
    }
}