.to-the-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    transition: all 0.5s;
    width: 3rem;
    height: 3rem;
}
.to-the-top:hover {
    cursor: pointer;
}

.arrow-up {
    rotate: -90deg;
    width: 2rem;
    position: relative;
    top: 0.5rem;
}

@media  screen and (min-width: 1200px){
    
    .to-the-top {
        width: 4rem;
        height: 4rem;
    }
    .arrow-up {
        rotate: -90deg;
        width: 3rem;
        position: relative;
        top: 0.5rem;
    }
}
