.main {
    text-align:center;
    margin-top: 5rem;
    background-color: #F7F7F7;
}
@import '_sellMore.scss';
@import '_laptopImage.scss';
@import '_theMostPopular.scss';
@import '_benefits.scss';

